In [23]:
import psycopg2 as pg2
import pandas as pd

In [82]:
### Create connection to database
conn = pg2.connect(database='dvdrental', user='postgres', password='********)
### Create cursor 
cur = conn.cursor()

In [83]:
ids = (87,101)
### With the cursor execute some command
cur.execute(f"""
SELECT city, country_id, DATE(last_update) FROM city
WHERE country_id IN {ids}
""")

In [84]:
### fetch data from cursor, use tab to get all options (fetchone, fetchmany, fetchall)
data = cur.fetchall()

In [85]:
x = pd.DataFrame(data)

In [87]:
x

                        0    1           2
0      A Corua (La Corua)   87  2006-02-15
1               Abu Dhabi  101  2006-02-15
2                  al-Ayn  101  2006-02-15
3   Donostia-San Sebastin   87  2006-02-15
4                    Gijn   87  2006-02-15
5        Ourense (Orense)   87  2006-02-15
6  Santiago de Compostela   87  2006-02-15
7                  Sharja  101  2006-02-15