In [1]:
import json
import csv
#from dateutil import parser
import seaborn as sns
import datetime as dt
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar
from calendar import monthrange
###
import requests

#### Variable Overview

In [ ]:
#### Columns in data #### 2019 Dataset #### Amount of missing values differ among datasets ####
#### Not all vars exist for alls years, selection based on availability of similar vars for each year ####
#### Selected vars marked with X ####
 0   id                        35554 non-null  object 
 1   external_id               24533 non-null  object 
 2   webpage_url               35554 non-null  object 
 3   logo_url                  28486 non-null  object 
 4   headline                  35554 non-null  object X
 5   application_deadline      35554 non-null  object  X END DATE
 6   number_of_vacancies       35550 non-null  float64 X
 7   description               35554 non-null  object
    'text', 'text_formatted', 'company_information', 'needs', 'requirements', 'conditions'
 8   employment_type           35554 non-null  object 
 9   salary_type               35554 non-null  object
 10  salary_description        22812 non-null  object 
 11  duration                  35554 non-null  object 
 12  working_hours_type        35554 non-null  object 
 13  scope_of_work             35554 non-null  object
     'min', 'max'
 14  access                    79    non-null  object 
 15  employer                  35554 non-null  object
     'phone_number', 'email', 'url', 'organization_number', 'name', 'workplace'
 16  application_details       35554 non-null  object 
     'information', 'reference', 'email', 'via_af', 'url', 'other'
 17  experience_required       35554 non-null  bool   
 18  access_to_own_car         35554 non-null  bool   
 19  driving_license_required  35554 non-null  bool   
 20  driving_license           7287  non-null  object 
 21  occupation                35554 non-null  object 
 22  occupation_group          35554 non-null  object 
 23  occupation_field          35554 non-null  object 
 24  workplace_address         35554 non-null  object
     'municipality', 'municipality_code', 'municipality_concept_id', 'region', 'region_code', 'region_concept_id', 'country', 'country_code', 'country_concept_id', 'street_address', 'postcode', 'city', 'coordinates'
 25  must_have                 35554 non-null  object
     'skills', 'languages', 'work_experiences'
 26  nice_to_have              35554 non-null  object 
 27  publication_date          35554 non-null  object X START DATE
 28  last_publication_date     35554 non-null  object 
 29  removed                   35554 non-null  bool   
 30  removed_date              0     non-null  object 
 31  source_type               35554 non-null  object 
 32  timestamp                 35554 non-null  int64 [---> Not available in 2009]

#### Functions

In [ ]:
#### Function called to correct city column #### Makes all city strings lowercase for comparability ####
#### In exploration alot of rows had '--' and '.' as city, using len statment we convert these to nan ####
def correct(x):
    try:
        if len(x) <= 2:
            return np.nan
        else:
            return x.lower()
    except:
        return np.nan

#### Extracting vars of interest from JSON files to decrease memory use

In [ ]:
%%time
#### Converting the Monsters ####
for i in range(2006,2020):
    filename = '/Users/Kevin/Desktop/pb2006_2019/{}.json'.format(i)
    with open(filename) as f:
        ads = json.load(f)
        new_list = []
    
    # Extracting vars of interest #
    for ad in ads:
        try:
            x = [ad['headline'], ad['number_of_vacancies'], ad['publication_date'], ad['application_deadline'], ad['workplace_address']['city']]
            new_list.append(x)
        except:
            x = [ad['headline'], ad['number_of_vacancies'], ad['publication_date'], ad['application_deadline'], np.nan]
            new_list.append(x)

    test = pd.DataFrame(new_list, columns=('headline','number_of_vacancies', 'publication_date', 'application_deadline', 'city'))
    
    # Correcting city format #
    test['city'] = test['city'].apply(lambda x:correct(x))
    
    test.to_csv('/Users/Kevin/Desktop/pb2006_2019/select/{}'.format(+i), index_label=False)

#### Correcting date labels for 2018&2019

In [ ]:
t_2018 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2018')
t_2019 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2019')

t_2018['publication_date'] = t_2018['publication_date'].apply(lambda x:x[0:11])
t_2018['application_deadline'] = t_2018['application_deadline'].apply(lambda x:x[0:11])

t_2019['publication_date'] = t_2019['publication_date'].apply(lambda x:x[0:11])
t_2019['application_deadline'] = t_2019['application_deadline'].apply(lambda x:x[0:11])

t_2018.to_csv('/Users/Kevin/Desktop/pb2006_2019/select/2018', index_label=False)
t_2019.to_csv('/Users/Kevin/Desktop/pb2006_2019/select/2019', index_label=False)

#### Loading in data and preparing datetime index

In [2]:
#### Result of extraction from JSON files ####
t_2006 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2006')
t_2007 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2007')
t_2008 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2008')
t_2009 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2009')
t_2010 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2010')
t_2011 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2011')
t_2012 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2012')
t_2013 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2013')
t_2014 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2014')
t_2015 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2015')
t_2016 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2016')
t_2017 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2017')
t_2018 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2018')
t_2019 = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/select/2019')

In [3]:
#### All data lists ####
all_years = [t_2006, t_2007, t_2008, t_2009, t_2010, t_2011, t_2012, t_2013, t_2014, t_2015, t_2016]
all_years_10 = [t_2006, t_2007, t_2008, t_2009, t_2010]
all_years_label = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
all_years_dict = {'2006': t_2006, '2007':t_2007, '2008':t_2008, '2009':t_2009, '2010':t_2010, '2011':t_2011, '2012':t_2012, '2013':t_2013, '2014':t_2014,'2015':t_2015,'2016':t_2016}

In [4]:
#### Concat all DF's into one big df ####
t_2006_2010 = pd.concat(all_years)

In [5]:
#### Removed all missing values ####
t_2006_2010 = t_2006_2010[t_2006_2010.iloc[:,3].notnull() == True]
t_2006_2010 = t_2006_2010[t_2006_2010.iloc[:,2].notnull() == True]
t_2006_2010.iloc[:,[2,3]].isnull().value_counts() # No null values!

publication_date  application_deadline
False             False                   4197574
dtype: int64

In [6]:
#### Converting pub/dead col to datetime and sorting by publication_date ####
t_2006_2010['publication_date'] = pd.to_datetime(t_2006_2010['publication_date'])
t_2006_2010['application_deadline'] = pd.to_datetime(t_2006_2010['application_deadline'])
t_2006_2010 = t_2006_2010.sort_values(by='publication_date')
#### t_2006_2010_copy is our used df with datetime index ####
t_2006_2010_copy = t_2006_2010.set_index(t_2006_2010['publication_date'])

#### Checking active ads per day - Final

In [ ]:
#### Testing out DF slicing for smaller dfs ####
#### As time moves closer to the present, number of ads increases significantly ####
date = pd.to_datetime('2006-06-01')
start_date = date+relativedelta(months=-3)
end_date = date+relativedelta(months=+3)
t_slice = t_2006_2010_copy.copy()
t_slice = t_slice[start_date:end_date]
t_slice

In [ ]:
%%time
for i in range(2008, 2017):
    for v in range(1,13):
        results = []
        # Date range for each month, calendar.monthrange sets days to last day in given month
        date_range = pd.date_range('{}-{}-01'.format(i,v), '{}-{}-{}'.format(i, v, calendar.monthrange(int(i), v)[1]))
        for date in date_range:
            # Counter counts the number of ads active a given day
            counter = 0
            # We continuously create a 4-month moving window for each given day and check active ads
            # This way we dont iterate through all 6.2 million ads but instead about 80-200k
            start_date = date+relativedelta(months=-3)
            end_date = date+relativedelta(months=+3)
            t_slice = t_2006_2010_copy.copy()
            t_slice = t_slice[start_date:end_date]
            
            for z in t_slice.iterrows():
                if date in pd.date_range(start=z[1]['publication_date'], end=z[1]['application_deadline']):
                    counter += z[1]['number_of_vacancies']
            results.append([date, counter])
        results_pd = pd.DataFrame(results)
        results_pd.to_csv('/Users/Kevin/Desktop/pb2006_2019/final_L/{}{}'.format(i,v), index_label=False)

#### Data Overview

In [ ]:
job_ads = 0
jobs = 0
for i in all_years:
    job_ads += len(i)
    jobs += i.iloc[:,1].sum()
print('Total job ads:' + ' ' + str(job_ads))
print('Total jobs:' + ' ' + str(jobs))

#### Plotting missing values

In [ ]:
%matplotlib inline
#plt.style.use('seaborn')
#%config InlineBackend.figure_format = 'svg'

fig = plt.figure(figsize=(20,20))

for i in range(14):
    fig.add_subplot(4,4,i+1)
    sns.heatmap(all_years[i].isnull(), cbar=False, xticklabels=['hl','vacant','post_d','dead_d','city'])
    plt.title(all_years_label[i])

plt.savefig('/Users/Kevin/Desktop/MissingValues.png', bbox_inches='tight')
plt.show()

#### Graphical presentation of ads per day - Test

In [ ]:
#pd_result.to_csv('/Users/Kevin/Desktop/maj_jobb_test')
#pd_result = pd.read_csv('/Users/Kevin/Desktop/pb2006_2019/tester/maj_jobb_test')

In [ ]:
#### Customize x-axis date range #### 5D is simply five days between each tick ####
date_index = pd.date_range('2006-05-01','2006-05-31', freq='5D')

In [ ]:
%matplotlib inline
plt.style.use('seaborn')
%config InlineBackend.figure_format = 'svg'

fig, ax = plt.subplots(figsize=(5.5,3.5))

plt.plot(pd_result.iloc[:,0], pd_result.iloc[:,1])
plt.plot(pd_result.iloc[:,0], pd_result['mean'], alpha=0.4, color='r')
plt.xticks(date_index,rotation=90)

plt.title('Lediga jobb 01-31/05/2006', loc='left',fontweight='heavy')

plt.savefig('/Users/Kevin/Desktop/Jobb.svg', bbox_inches='tight', facecolor=fig.get_facecolor(), edgecolor='none')
plt.show()