In [4]:
### Project imports ###
import numpy as np
import pandas as pd
import psycopg2 as pg2

# Project overview
#### Objective: Create a historic daily labor demand index based of total available jobs for a given day between 2006-2020  
    - In this project, only job ads from Arbetsförmedlingen (JobTechDev) will be used. In a future project, current labor demand index will be constructed, supplemented with ads through the means of web scraping.
    - Performace of the index will be evaluated through comparison to Swedens official statistics (survey index)
#### Project steps
       - Step 1: Converting JSON files to CSV and extracting relevant data
       - Step 2: Inserting data into a postgreSQL database and setting up relevant query
       - Step 3: Visualizing and discussing results

### Step 1: Converting JSON files to CSV and extracting relevant data
#### All data used in this project is from [JobTechDev](https://jobtechdev.se/docs/apis/historical/)  
* The complete dataset is about 30.8GB and files are in the JSON-format
* Dataset contains 32 differerent columns/vars, many of which are beyond the scope of the project, as such a selection will be extracted

At the end of this

In [ ]:
%%time
#### Converting the Monsters ####
for i in range(2006,2020):
    filename = '/Users/Kevin/Desktop/pb2006_2019/{}.json'.format(i)
    with open(filename) as f:
        ads = json.load(f)
        new_list = []
    
    # Extracting vars of interest #
    for ad in ads:
        try:
            x = [ad['headline'], ad['number_of_vacancies'], ad['publication_date'], ad['application_deadline'], ad['workplace_address']['city']]
            new_list.append(x)
        except:
            x = [ad['headline'], ad['number_of_vacancies'], ad['publication_date'], ad['application_deadline'], np.nan]
            new_list.append(x)

    test = pd.DataFrame(new_list, columns=('headline','number_of_vacancies', 'publication_date', 'application_deadline', 'city'))
    
    # Correcting city format #
    test['city'] = test['city'].apply(lambda x:correct(x))
    
    test.to_csv('/Users/Kevin/Desktop/pb2006_2019/select/{}'.format(+i), index_label=False)

In [1]:
### Imports ###
import psycopg2 as pg2
import pandas as pd

In [56]:
### Create connection to database
conn = pg2.connect(database='dvdrental', user='postgres', password='********')
### Create cursor 
cur = conn.cursor()

In [83]:
ids = (87,101)
### With the cursor execute some command
cur.execute(f"""
SELECT city, country_id, DATE(last_update) FROM city
WHERE country_id IN {ids}
""")

In [84]:
### fetch data from cursor, use tab to get all options (fetchone, fetchmany, fetchall)
data = cur.fetchall()

In [104]:
empt_list = []

In [107]:
### With the cursor execute some command

cur.execute(f"""
SELECT * FROM payment
WHERE payment_date BETWEEN '2005-01-01' AND '2007-05-01'
""")
data = cur.fetchall()
for i in data:
    ### We use tuple unpacking to get our vars
    (payment_id, customer_id, staff_id, rental_id, amount, payment_date) = i
    empt_list.append([payment_id, customer_id, staff_id, rental_id, amount, payment_date])

In [109]:
### List can then be stored as a new df
x = pd.DataFrame(empt_list)

In [110]:
x

           0    1  2     3     4                          5
0      17503  341  2  1520  7.99 2007-02-15 22:25:46.996577
1      17504  341  1  1778  1.99 2007-02-16 17:23:14.996577
2      17505  341  1  1849  7.99 2007-02-16 22:41:45.996577
3      17506  341  2  2829  2.99 2007-02-19 19:39:56.996577
4      17507  341  2  3130  7.99 2007-02-20 17:31:48.996577
...      ...  ... ..   ...   ...                        ...
28823  31912  267  1  5340  6.99 2007-04-09 15:40:01.996577
28824  31913  267  1  6070  0.99 2007-04-11 03:16:08.996577
28825  31914  267  1  6706  3.99 2007-04-12 11:27:42.996577
28826  31915  267  1  8190  4.99 2007-04-28 21:15:32.996577
28827  31916  267  1  8572  1.99 2007-04-29 10:19:50.996577

[28828 rows x 6 columns]